body{
        background-image: url('./color.JPG');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    border: 5px solid white;

}

#welcome{
margin-top: 20em;
}

.name h1{
    font-size: 4em;
    color: whitesmoke;

}

#nav{
margin-top: 5em;
margin-right: 20em;
}

.nav-link{
    color: whitesmoke;
    font-size: 1.2em;
    text-decoration: white;

}
